@import url("styles/header.css");
@import url("styles/agenda.css");
@import url("styles/footer.css");
@import url("styles/cadastro.css");

:root {
    --branco: #FFFFFF;
    --cor-de-fundo: #E5E5E5;
    --cinza: #464646;
    --cinza-claro: #A3A3A3;
    --laranja: #FFB050;
    --azul: #4894FF;
    --fonte: "Montserrat";
}

body {
    background: var(--branco);
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 400;
}