@import url("styles/header.css");
@import url("styles/agenda.css");
@import url("styles/footer.css");
@import url("styles/formulario.css");

:root {
    --branco: #FFFFFF;
    --cor-de-fundo: #E5E5E5;
    --cinza-escuro: #464646;
    --cinza: #898989;
    --cinza-claro: #A3A3A3;
    --cinza-claro2: #CFCFCF;
    --laranja: #FFB050;
    --azul: #4894FF;
    --fonte: "Montserrat";
}

body {
    background: var(--branco);
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 400;
    width: 100vw;
}

@media screen and (min-width: 810px) {
    body {
        font-size: 22px;
    }
}