.agenda {
    background: var(--cor-de-fundo);
    margin-bottom: 2.5em;
    padding-bottom: 1em;
}

.agenda__titulo {
    font-size: 16px;
    font-weight: 700;
    color: var(--cinza);
    margin: 0 0 1em 1em;
    padding-top: 1.5em;
    width: 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--branco);
    border-radius: 0.5em;
    margin: 1em;
}

.card__header {
    display: grid;
    grid-template-areas: 
    "imagem descricao icone-chat";
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid var(--cor-de-fundo);
}

.card__foto-de-perfil {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: 1.1em;
    grid-area: imagem;
}

.card__titulo {
    font-weight: 700;
    color: var(--cinza);
    margin-bottom: 0.5em;
}

.card__descricao {
    grid-area: descricao;
}

.card__texto {
    font-size: 12px;
    color: var(--cinza-claro);
    padding-left: 1.8em;
    height: 100%;
}

.remoto {
    background: url("../img/Camera.svg") no-repeat;

}

.presencial {
    background: url("../img/pin.svg") no-repeat;
}

.card__icone-chat {
    grid-area: icone-chat;
}

.card__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
}

.card__body h3 {
    font-size: 12px;
    color: var(--cinza);
    font-weight: 500;
    width: 100%;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0.2em 0.5em 0.2em;
}

.card__botao {
    padding: 1.2em 0em;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    width: 48%;
}

.video {
    background: var(--laranja);
    color: var(--branco);
}

.audio {
    border: 1px solid var(--cor-de-fundo);
    color: var(--cinza);
}

.local {
    background: var(--azul);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .agenda {
        display: flex;
        flex-wrap: wrap;
    }

    .agenda__titulo {
        font-size: 22px;
    }

    .card {
        max-width: 43%;
    }

    .card__texto,
    .card__body h3,
    .card__botao {
        font-size: 18px;
    }

    .card__foto-de-perfil,
    .card__icone-chat img {
        width: 64px;
        height: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .agenda {
        margin-left: 20%;
    }
    .card {
        max-width: 40%;
    }
}