.cabecalho {
    background: var(--cor-de-fundo);
    margin-top: 2em;
    padding: 2.5em 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cabecalho__descricao {
    margin-left: 1em;
}

.cabecalho__titulo {
    font-weight: 700;
    font-size: 22px;
    color: var(--cinza);
}

.cabecalho__texto {
    color: var(--cinza-claro);
    margin-top: 1em;
}

.cabecalho__foto-perfil {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

@media screen and (min-width: 810px) {
    .cabecalho__titulo {
        font-size: 36px;
    }
    
    .cabecalho__foto-perfil {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 1920px) {
    .cabecalho__foto-perfil {
        width: 150px;
        height: 150px;
    }
}